<f:layout name="Default" />

<f:section name="main">
<h3><f:translate key="tx_pbtoto_resultset_edit"/></h3>

<f:if condition="{isCommunication}">
	<f:render partial="Resultset/Communication"/>
</f:if>

<f:form method="post" action="update" name="resultset" object="{resultset}" >

	<f:render partial="Resultset/FormFields" arguments="{resultset:resultset}"/>
	
	<div class="button_line">
		<div class="toto_button" >
			<f:link.action  action="new" controller="Result" arguments="{resultsetId : resultset.uid}"> 
			<f:translate key="tx_pbtoto_result_new"/>
			</f:link.action>
		</div>
		<f:form.submit class="toto_button" value="{f:translate(key:'tx_pbtoto_save')}" />
	</div>

</f:form>
</f:section>