<label for="trend">
	<f:translate key="tx_pbtoto_domain_model_tip.trend" /> <span class="required">(required)</span>
</label><br />
	<f:form.textbox property="trend" /><br />
<label for="feUser">
	<f:translate key="tx_pbtoto_domain_model_tip.fe_user" /> <span class="required">(required)</span>
</label><br />
	<f:form.textbox property="feUser" /><br />
<label for="result">
	<f:translate key="tx_pbtoto_domain_model_tip.result" /> <span class="required">(required)</span>
</label><br />
	<f:form.textbox property="result" /><br />