<f:layout name="Default" />

This Template is responsible for creating a table of domain objects.


If you modify this template, do not forget to change the overwrite settings 
in /Configuration/Kickstarter/settings.yaml:
  Resources:
    Private: 
      Templates:
        List.html: keep

Otherwise your changes will be overwritten the next time you save the extension in the kickstarter

<f:section name="content">
<h1>Listing for Resultset</h1>

<f:flashMessages />

<table  class="tx_pbtoto" >
	<tr>
		<th><f:translate key="tx_pbtoto_domain_model_resultset.is_finished" /></th>
		<th><f:translate key="tx_pbtoto_domain_model_resultset.begin" /></th>
		<th><f:translate key="tx_pbtoto_domain_model_resultset.end" /></th>
		<th> </th>
		<th> </th>
	</tr>

	<f:for each="{resultsets}" as="resultset">
		<tr>
			<td><f:link.action action="show" arguments="{resultset : resultset}"> {resultset.isFinished}</f:link.action></td>
			<td><f:link.action action="show" arguments="{resultset : resultset}"> {resultset.begin}</f:link.action></td>
			<td><f:link.action action="show" arguments="{resultset : resultset}"> {resultset.end}</f:link.action></td>
			<td><f:link.action action="edit" arguments="{resultset : resultset}">Edit</f:link.action></td>
			<td><f:link.action action="delete" arguments="{resultset : resultset}">Delete</f:link.action></td>
		</tr>
	</f:for>
</table>

<f:link.action action="new">New Resultset</f:link.action>
</f:section>